
/* Your CSS Code here. */
.holder{
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Full viewport height */
    width: 100vw;
	
}
.item-1{
	background-color: red;
	height:100px;
	width:100px;
}